#footer {
    width: 100%;
    padding: 0px;
    margin-right: 0;
    background-color: rgb(34, 37, 40);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    // background-color: rgb(8, 82, 167, 0.5);
}

.boh {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
    /* Imposta l'altezza al 100% della viewport (visualizzazione) */
}

.main-container {
    padding-bottom: 100px;
}

.testo-piccolo {
    font-size: 12px;
}

p {
    font-size: 18px;
}

.Copy {
    background-color: rgb(34, 37, 40);
    padding: 0px;
    margin-right: 0;
}

#link {
    color: white;
    text-decoration: none;
}