.caro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.boh {
    color: white;
}

.picsum-img-wrapper img {
    max-width: 100%;
    /* Imposta la larghezza delle immagini al 100% del loro contenitore */
    height: auto;
    /* Mantieni il rapporto di aspetto originale */
}

#footer {
    width: 100%;
    padding: 0px;
    margin-right: 0;
    background-color: rgb(34, 37, 40);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    // background-color: rgb(8, 82, 167, 0.5);
}

.main-container {
    padding-bottom: 100px;
}

.testo-piccolo {
    font-size: 12px;
}

.Copy {
    background-color: rgb(34, 37, 40);
    padding: 0px;
    margin-right: 0;
}

#link {
    color: white;
    text-decoration: none;
}