.errorcolor {
    color: rgb(240, 76, 76);
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

#footer {
    width: 100%;
    padding: 0px;
    margin-right: 0;
    background-color: rgb(34, 37, 40);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    /* Assicura che il footer sia sopra gli altri contenuti */
    // background-color: rgb(8, 82, 167, 0.5);
}

.main-container {
    padding-bottom: 100px;
}

.Copy {
    background-color: rgb(34, 37, 40);
    padding: 0px;
    margin-right: 0;
}

#link {
    color: white;
    text-decoration: none;
}

.testo-piccolo {
    font-size: 12px;
}